# Project Loan Default Prediction

In [ ]:
#All Libraries used
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

#Split dataset 
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [4]:
#Import Dataset
df = pd.read_csv('C:\ML\loan_default_prediction.csv')

In [6]:
#View Instances and Features
df.shape

(87500, 30)

In [8]:
#View info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87500 entries, 0 to 87499
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   87500 non-null  int64
 1   Asst_Reg             87500 non-null  int64
 2   GGGrade              87500 non-null  object
 3   Experience           87500 non-null  object
 4   Validation           87500 non-null  object
 5   Yearly_Income        81925 non-null  float64
 6   Home_Status          87500 non-null  object
 7   Unpaid_2_years       87500 non-null  int64
 8   Already_Defaulted    87500 non-null  int64
 9   Designation          86086 non-null  object
 10  Debt_to_Income       84011 non-null  float64
 11  Postal_Code          86111 non-null  float64
 12  Lend_Amount          87500 non-null  float64
 13  Deprecatory_Records  87500 non-null  int64
 14  Interest_Charged     87500 non-null  float64
 15  Usage_Rate           87500 non-null  float64
 16  Inquiries            87500 non-null  int64
 17  Present_Balance      87500 non-null  float64
 18  Gross_Collection     87500 non-null  float64
 19  Sub_GGGrade          87500 non-null  int64
 20  File_Status          87500 non-null  object
 21  State                87500 non-null  object
 22  Account_Open         87500 non-null  int64
 23  Total_Unpaid_CL      83314 non-null  float64
 24  Duration             87500 non-null  object
 25  Unpaid_Amount        82648 non-null  float64
 26  Reason               87500 non-null  object
 27  Claim_Type           87500 non-null  object
 28  Due_Fee              87500 non-null  float64
 29  Default              87500 non-null  int64
dtypes: float64(11), int64(9), object(10)
memory usage: 20.0+ MB

In [10]:
#Get main statistics of numerical features
df.value_counts()

ID      Asst_Reg  GGGrade  Experience  Validation       Yearly_Income  Home_Status  Unpaid_2_years  Already_Defaulted  Designation                    Debt_to_Income  Postal_Code  Lend_Amount  Deprecatory_Records  Interest_Charged  Usage_Rate  Inquiries  Present_Balance  Gross_Collection  Sub_GGGrade  File_Status  State       Account_Open  Total_Unpaid_CL  Duration  Unpaid_Amount  Reason               Claim_Type  Due_Fee  Default
21560   3174774   VI       2yrs        Source Verified  63300.864      RENT         0               0                  Nutrition Associate            54.8520         36200.0      22101.75     0                    22.80             131.752     0          65171.75         0.0               38           whole        AL          12            35690.0          5 years   28177.38       debt  consolidation  I           0.0      0          1
104871  5990216   I        5yrs        Not Vfied        68640.000      MORTGAGE     0               0                  Officer                        36.8424         30000.0      26334.00     0                    23.83             121.604     0          183083.77        0.0               11           fully paid   GA          6             33532.0          3 years   24408.54       credit  card         I           0.0      0          1
104846  1041907   II       >10yrs      Vfied            246400.000     MORTGAGE     0               0                  Director, Business Consulting  23.4192         43100.0      20520.00     0                    16.27             25.800      0          558468.04        0.0               17           fully paid   Ohio        10            51958.0          3 years   8048.97        home  improvement    I           0.0      1          1
104848  1165692   II       >10yrs      Vfied            205920.000     MORTGAGE     1               0                  Super Lead                     17.3544         6400.0       30780.00     2                    12.95             145.512     0          457808.79        0.0               18           fully paid   CT          18            33034.0          3 years   28792.98       debt  consolidation  I           0.0      1          1
104850  3241820   IV       >10yrs      Not Vfied        123200.000     RENT         0               0                  Owner                          27.0480         29000.0      13509.00     2                    13.94             74.132      1          55115.01         0.0               28           fully paid   SC          10            22078.0          3 years   9791.46        debt  consolidation  I           0.0      1          1
                                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
63162   1643074   II       >10yrs      Not Vfied        156816.000     RENT         0               0                  chief analyst                  43.7136         32300.0      2565.00      0                    18.92             139.320     1          120440.40        0.0               18           fully paid   Florida     12            23406.0          3 years   19523.07       debt  consolidation  I           0.0      0          1
63163   3271861   V        4yrs        Vfied            110880.000     RENT         0               0                  PROJECT ENGINEER               30.8448         91300.0      47367.00     0                    19.15             106.296     3          72240.86         0.0               31           fully paid   California  14            67396.0          3 years   42905.61       debt  consolidation  I           0.0      0          1
63164   3460169   I        >10yrs      Vfied            161920.000     RENT         1               0                  Super Lead                     12.4992         7600.0       34200.00     0                    16.72             74.648      0          27947.45         0.0               15           whole        NewJersey   17            64076.0          3 years   28616.85       credit  card         I           0.0      0          1
63165   6426280   I        <1yr        Source Verified  140940.800     RENT         0               0                  Journeyman Electrician         38.8080         80500.0      17100.00     0                    22.47             39.044      0          99186.31         0.0               15           whole        CO          18            74202.0          3 years   17383.86       debt  consolidation  I           0.0      0          1
146559  7338539   IV       >10yrs      Source Verified  144320.000     MORTGAGE     0               0                  teacher                        53.3736         55300.0      47880.00     0                    23.48             132.612     1          158895.49        0.0               26           whole        MN          9             86984.0          5 years   69058.35       credit  card         I           0.0      0          1
Length: 68505, dtype: int64